#navBar {
    display: flex;
    flex-direction: row;
    height: 75px;
    padding: 10px;
}
#logo img {
    height: 75px;
}

#navigation {
    display: flex;
    width: 50%;
    align-content: right;
    justify-content: space-evenly;
}
#bodyContent {
    margin: 0px;
    display: grid;
    min-height: 500px;
    height: 70vh;
    grid-template-columns: 2fr 3fr;
    grid-template-areas:
    "leftBody rightBody"
    ;
}
#leftBody {
    grid-area: leftBody;
    display: grid;
    height: 100vh;
    align-content: center;
    justify-content: center;
}
#leftBody img {
    height: 75vh;
}
#rightBody {
    grid-area: rightBody;
    align-content: center;
    justify-content: center;
}